@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background: black;
}

.container {
  background: url('/public/images/bg-mobile-light.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

.icons {
  width: 15px;
}
#toggle {
  background: url('/public/images/icon-check.svg');
}