@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-size: large;
  font-family: 'Josefin Sans', sans-serif;
}

:root {

  --clr-darkBG: rgb(15 23 42 / 1);
}
.container {
  background: url('/public/images/bg-mobile-light.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
body.dark .container {
  background: url('/public/images/bg-mobile-dark.jpg'),var(--clr-darkBG);
  background-repeat: no-repeat;
  background-size: contain;
}


.icons {
  width: 15px;
}

#toggle {
  background: url('/public/images/icon-check.svg');
}

@media (min-width:640px) {
  .container {
    background: url('/public/images/bg-desktop-light.jpg');
    background-repeat: no-repeat;
    background-size: contain;
  }
  body.dark .container {
    background: url('/public/images/bg-desktop-dark.jpg'), var(--clr-darkBG);
    background-repeat: no-repeat;
    background-size: contain;
  }
}